.login {

    .link-login { // gestion de la balise LINK suite conflit avec le CSS appliqué auparavant 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration:none; 
    }

    img {
        margin: 10px 0 10px 0;
        width: 100px;
        height: 100px;
        transition: transform .9s;
    }

    p {
        
        width: 90%;
        text-align: center;
        color: $white;
    }

    .line_horizontal {
        display: flex;
        flex-direction: row;

    }

    .line_horizontal:before,
    .line_horizontal:after {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid $white;
        margin: 10px 0px 10px 0px;
    }

    input {
        height: 50px;
    }

    .btn-login {
        margin: 10px;
        width: 90%;
        height: 50px;
        border-radius: 5px;
        background-color: $white;
        color: $primary-blue;
        font-weight: 600;
        font-size: 18px;
        border: 3px solid $primary-blue;
        cursor: pointer;

        &:hover {
            background-color: $primary-blue;
            color: $white;
        }
    }
}