li{
    list-style-type: none;  
}
.choice-station {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:$white;

    h1 {
        margin: auto;
        width: 80%;
        border-radius: 10px;
        font-size: 20px;
        color:$white;
        text-align: center;
        background: $primary-blue;
        padding: 3px;
    }
 
    .container-card {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;

        .card-station {
            margin: 10px;
            display: flex;
            flex-direction: column;
            border : 2px solid $middle-grey;
            border-radius: 10px;
            &:hover {
                opacity: 0.70;
            }
        
            img {
                width: 320px;
                height: 150px;
                background-size: cover;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

            h3 {
                font-size: 18px;
                letter-spacing: 2px;
                display: block;
                margin: auto;
                text-align: center;
                padding: 5px;
                background: $opacity-white;
            }
        }
        
    }

