.accomodation {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: $light-grey;

    h2 {
        color: $dark-grey;
        font-size: 22px;
        text-align: center;
        border-bottom: 4px solid $primary-blue;
        padding: 5px;
    }

    p {
        color: $dark-grey;
        margin: 10px;
        font-size: 20px;
    }

    .container-left {
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 390px;

        .map {
            background-color: $white;
            border-radius: 10px;
            box-shadow: $shadow;

            iframe {
                width: 100%;
                border: none;
                margin-top: 10px;
                
            }
        }

        .change-services {
            margin-top: 20px;

            .btn {
                width: 100%;
            }
        } 
    }
    
    .container-center {
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 500px;
        background-color: $white;
        border-radius: 10px;
        box-shadow: $shadow;

        .info-accomodation {
            span {
                
                color: $primary-blue;
            }
        }
    }
    .container-right {
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 500px;
        background-color: $white;
        border-radius: 10px;
        box-shadow: $shadow;
    }
    
}