.accomodation {
    display: flex;
    flex-direction: column;
    background-color: $light-grey;
    height: 70vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }


    .container-accomodation {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px 10px;

        h2 {
            color: $dark-grey;
            font-size: 22px;
            text-align: center;
            border-bottom: 4px solid $primary-blue;
            padding: 8px;
        }
        
        p {
            margin: 10px;
            font-size: 20px;    
        }
        

        .container-left {
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 390px;
            background-color: $white;
            border-radius: 10px;
            box-shadow: $shadow;
            height: fit-content;

            .map {
                background-color: $white;
                border-radius: 10px;
                box-shadow: $shadow;
                border: 1px solid $middle-grey;

                iframe {
                    width: 100%;
                    height: 300px;
                    border: none;
                    margin-top: 10px;
                }
            }
        }

        .container-center {
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 390px;
            height: fit-content;
            background-color: $white;
            border-radius: 10px;
            box-shadow: $shadow;

            .info-accomodation {
                a {
                    color: $primary-blue;
                    font-weight: 900;
                    text-decoration: none;
                    &:hover {
                        background-color: $light-grey;
                    }
                }

                span {
                    color: $primary-blue;
                }

                img {
                    margin: 20px 10px 10px 10px;
                    width: 370px;
                    height: 220px;
                    background-size: cover;
                    border-radius: 10px;
                    box-shadow: $shadow;
                    transition: 0.9s;
                    &:hover {
                        transform: scale(1.04);
                    }
                }
            }
        }
        .container-right {
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 390px;
            height: fit-content;
            background-color: $white;
            border-radius: 10px;
            box-shadow: $shadow;

            .update-services {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 20px;

                .btn {
                    width: 90%;
                }
            }
        }
    }
}
