.get-accomodation {
    display: flex;
    flex-direction: column;
    background-color: $light-grey;
    background-image: url(../../../../public/images/bg-accomodation.png);
    background-position: center;
    background-size: cover;
    height: 70vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
<<<<<<< HEAD:front-end/src/styles/components/tab/_accomodation.scss
=======
  
>>>>>>> e5cb852bb7005c1e92aa2da956f3a3e75761db63:front-end/src/styles/components/tab/_getAccomodation.scss


    .container-get {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px 10px;

        h2 {
            color: $dark-grey;
            font-size: 22px;
            text-align: center;
            border-bottom: 4px solid $primary-blue;
            padding: 8px;
        }
        
        p {
<<<<<<< HEAD:front-end/src/styles/components/tab/_accomodation.scss
            margin: 10px;
=======
            margin: 7px;
>>>>>>> e5cb852bb7005c1e92aa2da956f3a3e75761db63:front-end/src/styles/components/tab/_getAccomodation.scss
            font-size: 20px;    
        }
        

        .card-left {
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 390px;
            background-color: $white;
            border-radius: 10px;
            box-shadow: $shadow;
            height: fit-content;

            .map {
                background-color: $white;
                border-radius: 10px;
                box-shadow: $shadow;
                border: 1px solid $middle-grey;

                iframe {
                    width: 100%;
                    height: 300px;
                    border: none;
                    margin-top: 10px;
                }
            }
        }

        .card-center {
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 390px;
            height: fit-content;
            background-color: $white;
            border-radius: 10px;
            box-shadow: $shadow;

            .infos-get {

                a {
                    color: $primary-blue;
                    font-weight: 900;
                    text-decoration: none;
                    &:hover {
                        background-color: $light-grey;
                    }
                }

<<<<<<< HEAD:front-end/src/styles/components/tab/_accomodation.scss
                span {
                    color: $primary-blue;
                }
=======
                
>>>>>>> e5cb852bb7005c1e92aa2da956f3a3e75761db63:front-end/src/styles/components/tab/_getAccomodation.scss

                img {
                    margin: 20px 10px 10px 10px;
                    width: 370px;
                    height: 220px;
                    background-size: cover;
                    border-radius: 10px;
                    box-shadow: $shadow;
                    transition: 0.9s;
                    &:hover {
                        transform: scale(1.04);
                    }
                }
            }
        }
        .card-right {
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 390px;
            height: fit-content;
            background-color: $white;
            border-radius: 10px;
            box-shadow: $shadow;
            position: relative;

            .services-get {
                display: flex;
                flex-direction: column;
                justify-content: center;
                

                .btn {
                    width: 90%;
                }
            }
        }
    }
}
